@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao:#ff523b;
    --cor-padrao-hover:#f3b2e5;
    --cor-fonte:#fff;
    --cor-fonte-p:#555;
    --cor-btn:#563434;
    --cor-btn-hover:#f6f6f6;
    --cor-btn-fonte:#000;
    --cor-fonte-corpo:#555;
    --cor-fonte-corpo-leve:#777;
    --cor-fonte-corpo-verde:#abe8c3;
    
}

body{
    font-family: 'poppins', sans-serif;
}

/*formatar linha a linha do html*/

/*---------------BANNER E MENU-------------*/

.banner{
    background: radial-gradient(var(--cor-fonte-corpo-leve), var(--cor-btn-fonte));
}


.banner .linha{
    margin-top: -60px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding: 0;
    margin-top: -40px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 30px; /*era 30px*/
    margin-top: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--cor-fonte);
}

.banner p{
    color: var(--cor-fonte);
}

p {
    color: var(--cor-fonte-p);
}

/*--------TEXTO DO BANNER---------*/

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left; /*adicionei depois*/
}


.col-2{
    flex-basis: 50%;
    min-width: 300px;
    color: var(--cor-fonte);/*mudar para color: var(--cor-fonte);*/
}

.col-2 h1, p {
    text-align: left;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p{
    font-weight: 600;
    color: var(--cor-fonte); /*mudar para color: var(--cor-fonte);*/
}

.col-2 span{
    color: var(--cor-padrao);
}

.btn{
    text-decoration: none;
    color: var(--cor-btn-hover);
    background: var(--cor-fonte-corpo-leve);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.3s;
}

.btn:hover{
    background: var(--cor-btn-hover);
    color: var(--cor-btn-fonte);
}

.col-2 img{
    max-width: 100%;
    height: auto;
    padding: 50px;
    /*margin-bottom: -33px;*/
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}


/*---------------CATEGORIAS-------------*/


/*.categorias{
    margin: 70px 0;
}*/


.corpo-categorias{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

/*.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px; /*Alterado*/
   /* margin-top: 20px;/*alterado*/
   /* border: 2px solid var(--cor-padrao);/*alterado*/
/*}*/

/*---------PRODUTOS EM DESTAQUE-----------*/

.col-4 {
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.4s; /*aumento mais suave ao passar o mouse encima*/
}

.col-4:hover{
    transform: scale(1.1); /*Aumentar quando passar o mouse encima...a tag transform:rotate(45deg); vai girar a imagem ao passar o mouse encima*/
}

.col-4 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo{
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);
}

.titulo::after{ /*--LINHA ABAIXO DO TITULO--*/
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--cor-fonte-corpo);
    font-weight: normal;
    
}

.col-4 p{
    font-size: 20px;
    
}

.classificacao ion-icon{  /*--CORES DAS ESTRELAS--*/
    color: var(--cor-padrao);
    
}

/*---------------OFERTAS-------------*/

.ofertas{
    background: radial-gradient(var(--cor-fonte-corpo-leve), var(--cor-btn-fonte));
    margin-top: 80px;
    padding: 1px 0;
}

.col-2 .oferta-img{
    padding: 50px;
    margin: auto;
}

small{
    color: var(--cor-btn-hover);
}

/*---------------DEPOIMENTOS-------------*/

.depoimentos{
    padding-top: 100px;
}

.depoimentos .col-3{
    text-align: center;
    padding: 40px 20px; /*40px embaixo e encima, 20px esquerda e direita*/
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
    transition: transform 0.4s;
}

.depoimentos .col-3:hover{
    transform: scale(1.1);
}

.depoimentos .col-3 img{
    width: 100px;
    border-radius: 50px;
    margin-top: 20px;
    border: 2px solid var(--cor-padrao);
}

.depoimento-icone{
    font-size: 34px;
    color: var(--cor-padrao);
}

.col-3 p{
    font-size: 13px;
    color: var(--cor-fonte-corpo-leve);
    margin: 12px 0;
}

.depoimentos .col-3 h3{
    font-size: 16px;
    font-weight: 600px;
    color: var(--cor-fonte-corpo);
}

/*-----------MARCAS------------*/

.marcas{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer; /*--PRA IMAGEM FICAR CLICÁVEL--*/
    filter: grayscale(100%); /*--IMAGENS EM PRETO E BRANCO--*/
}

.col-5 img:hover{
    filter: grayscale(0); /*--AO PASSAR O MOUSE POR CIMA DAS IMAGENS PRETO E BRANCO, ELAS VOLTAM A FICAR COLOORIDAS--*/
}

/*-----------RODAPÉ------------*/

.rodape{
    background: var(--cor-btn-fonte);
    color: var(--cor-fonte);
    padding: 60px 0 20px;
    font-size: 14px;
}

.rodape p{
    color: var(--cor-fonte);
}

.rodape h3{
    color: var(--cor-fonte);
    margin-bottom: 20px;
}

.rodape-col-1, .rodape-col-2, .rodape-col-3, .rodape-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1{
    flex-basis: 30%
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.rodape-col-2{
    flex: 1;
    text-align: center;
}

.rodape-col-2 p{
    text-align: center;
}

.rodape-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3, .rodape-col-4{
    flex-basis: 12%;
    text-align: right;
}


ul{
    list-style-type: none;
}

.rodape hr{
    border: none;
    height: 1px;
    background: var(--cor-fonte);
    margin: 20px 0;
}

.direitos{
    text-align: center;
}

/*----------listagem de produtos----------*/

.novoMenu nav ul li a{
    color: var(--cor-btn-fonte);
}

.novoMenu{
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.linha2 {
    margin: 100px auto 50px;
    justify-content: space-between;
}

.linha2 select{
    padding: 5px;
    border: 1px solid var(--cor-padrao);
}

.linha2 select:focus{
    outline: none;
}

.paginacao{
    margin: 0 auto 80px;
}

.paginacao span{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid var(--cor-padrao);
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.paginacao span:hover{
    background: var(--cor-padrao);
    color: var(--cor-fonte);
}

/*----------DETALHES DO PRODUTO-----------*/

.ver-produto{
    margin-top: 40px;
}

.ver-produto .col-2 h1{
    color: var(--cor-btn-fonte);
}

.ver-produto .col-2{
    color: var(--cor-btn-fonte);
}

.ver-produto .col-2 p{
    color: var(--cor-btn-fonte);
}

.ver-produto .col-2 img{
    width: 100%;
    padding: 0;
}

.ver-produto #produtoImg{
    width: 600px;
    height: 450px;
    object-fit: cover;
    object-position: top;
}

.ver-produto .col-2{
    padding: 20px;
}

.ver-produto h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.ver-produto select{
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--cor-padrao);
}

.ver-produto select:focus{
    outline: none;
}

.ver-produto input{
    width: 50px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid var(--cor-padrao);
}

.ver-produto input:focus{
    outline: none;
}

.ver-produto .btn{
    border: none;
    background-color: var(--cor-padrao);
    height: 42px;
    border-radius: 4px;
    cursor: pointer;
}

.ver-produto .btn:hover{
    background-color: var(--cor-btn-hover);
}

.ver-produto p{
    font-size: 13px;
}

.img-linha{
    display: flex;
    justify-content: space-between;
}

.img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*-----------CARRINHO DE COMPRAS----------*/

.carrinho-compras{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.info-carrinho{
    display: flex;
    flex-wrap: wrap;
}

th{
    background-color: var(--cor-padrao);
    color: var(--cor-fonte);
    text-align: left;
    font-weight: normal;
    padding: 5px;
}

.info-carrinho small{
    color: var(--cor-btn-fonte);
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: var(--cor-padrao);
    font-size: 12px;
    text-decoration: none;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.valor-total{
    display: flex;
    justify-content: flex-end;
}

.valor-total table{
    border-top: 3px solid var(--cor-padrao);
    width: 100%;
    max-width: 420px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/*----------TORNAR O MENU RESPONSIVO-----------*/

.menu-celular{
    width: 28px;
    margin-left: 20px;
    display: none; /* Pro menu não aparecer no site */
    /*background: var(--cor-fonte-corpo-leve);*/
}

/*-------------MENU CELULAR-------------*/
@media only screen and (max-width:800px){
    /*.logo img{
        margin-left: 150px;
    }*/

    .container{
        padding: 15px;
        margin: -30px 32px 0;
    }

    nav ul{
        position: absolute;
        top: 125px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: var(--cor-fonte);
    }

    .logo img{
        margin-top: -50px;
        margin: -17px 0 -22px -40px;
    }

    .menu-celular{
        display: block;
        cursor: pointer;
        margin-bottom: 0;
        margin-left: -67px;
    }

    .carrinho-img{
        margin-bottom: 0;

    }

    .banner .linha{
        margin-top: -20px;
    }

    .novoMenu nav ul li a{
        color: var(--cor-btn-fonte);
    }

    .novoMenu nav ul li a{
        color: var(--cor-fonte);
    }

    .novoMenu .logo img{
        margin: -52px 0 -50px -65px;
    }

    .novoMenu .carrinho-img {
        margin-bottom: 0;
    }

    .novoMenu .menu-celular{
        margin-bottom: 0;
    }

    .linha2 {
        justify-content: space-around;
    }

}

/*-------------CELULAR até a máxima da tela de 600-------------*/

@media only screen and (max-width:600px){
    .linha{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .col-2 h1{
        font-size: 28px;
        line-height: 45px;
        /*margin: 30px 0;*/
        margin-top: 85px;
    }

    .col-2{
        font-size: 18px;
        line-height: 30px;
    }

    .col-2 img{ 
        width: 100%;
        /*margin-left: 50px;*/
        /*margin-bottom: -50px;*/
        display: flex;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        /*max-width: 100%;*/
        
        /*justify-content: center; /* Centralizar horizontalmente */
        /*align-items: center; /* Centralizar verticalmente */
    }

    /* .col-2 .casal-banner{
       display: none; /*IMAGEM DO CASAL NÃO VAI APARECER
    }*/

    .col-2 .oferta-img{
        padding: 30px;
        width: 100%;
    }

    .ofertas .col-2 p{
        margin-top: 40px;
        line-height: 30px;
    }

    .col-2 h1, p {
        text-align: center;
    }

    /*.col-3 img{
        margin: auto;
    }*/

    .rodape-col-3, .rodape-col-4{
        text-align: center;
    }

    .col-4 p{
        font-size: 20px;
    }
    
    .corpo-categorias {
        padding: 60px;
        margin-top: -35px;
    }

    .ofertas .corpo-categorias{
        margin-top: 0;
        padding: 15px;
    }
    
    .ver-produto .col-2{
        margin: 5px 0; /*ERA 20px*/
    }

    .ver-produto .linha{
        text-align: left;
    }

    .ver-produto h1{
        font-size: 26px;
        line-height: 26px;
        margin: 0; /*adicionei o margin:0;*/
    }

    .info-carrinho p{
        display: none;
    }
    
    }

    

